language: ruby
rvm:
  - 2.3.3
bundler_args: "--without development --deployment"

cache: bundler

before_script:
  - cp config/database.travis.yml config/database.yml
  - bundle exec rails db:create
  - bundle exec rails db:schema:load
  - ./bin/yarn

script:
  - ./bin/webpack
  - bundle exec rubocop
  - bundle exec rails spec
services:
  - redis-server
