default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: spread_beaver_development
  username: spread_beaver
  password: spread_beaver
test:
  <<: *default
  database: spread_beaver_test
  username: spread_beaver
  password: spread_beaver

production:
  <<: *default
  database: spread_beaver_production
  username: spread_beaver
  password: <%= ENV['SPREAD_BEAVER_DATABASE_PASSWORD'] %>
